<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

  <% @users.each do |user| %>
    <p>First Name: <%= link_to user.fname, user_path(user) %></p>
    <p>Last Name: <%= user.lname %></p>
    <p>Username: <%= user.username %></p>
  <% end %>
